*.so
*.pyc
*.pyo
*.egg
*.swp
*.swo
*.bak
*.log
*.tmp
.DS_Store

.egg-info/
dist/
build/
node_modules/

__pycache__/
MANIFEST

.cache
target/
.env
.venv
env/
venv/
.conda/
.idea/*
!.idea/vcs.xml
!.idea/icon.png
.ideaDataSources/
*.iml
.vscode/
.next/


api/.env
api/.idea
api/.vscode
api/node_modules/
api/dist/
api/build/
api/attached/
api/storage/

plugin/cwd/
plugin/logs/
plugin/.env

web/.next/
web/.env
web/node_modules/
web/dist/
web/build/

billing/.env
billing/.idea
billing/.vscode
billing/node_modules/
billing/dist/
billing/build/
billing/vendor/
