.tagview__container {
  background: var(--background);
  padding: 8px 16px;
}

.tagview__tags {
  display: flex;
  gap: 8px;
  overflow-x: auto;
}

.tagview__tag {
  @apply px-2 py-1 rounded-lg bg-white text-black;
  @apply dark:bg-black dark:text-white;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}

.tagview__tag-link {
  white-space:nowrap;
}

.tagview__tag.active {
  @apply bg-blue-600 text-white;
  @apply dark:bg-blue-800 dark:hover:bg-blue-800 dark:text-white;
}

.tagview__close-icon {
  padding: 0 4px;
}

.tagview__tag .tagview__close-icon:hover {
  @apply text-gray-400 ;
  @apply dark:text-gray-400;
}

.tagview__tag.active .tagview__close-icon:hover {
  @apply text-blue-200;
  @apply dark:text-blue-400;
}
