.tagview__container {
  padding: 8px 16px;
  z-index: inherit;
}

.tagview__tags {
  display: flex;
  gap: 8px;
  overflow-x: auto;
}

.tagview__tag {
  @apply px-2 py-1 rounded-lg bg-secondary text-secondary-foreground;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  border: 1px solid var(--border);
}

.tagview__tag-link {
  white-space: nowrap;
}

.tagview__tag.active {
  @apply bg-primary text-primary-foreground;
}

.tagview__close-icon {
  padding: 0 4px;
}

.tagview__tag .tagview__close-icon:hover {
  @apply text-gray-400;
  @apply dark:text-gray-400;
}

.tagview__tag.active .tagview__close-icon:hover {
  @apply text-primary-foreground/90
}