@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@import '../themes/dark.css';
@import '../themes/theme.css';

html[data-theme="light"] {
  :root {
    /* 默认明亮模式变量 */
    --background: #ffffff;
    --foreground: #0a0a0a;
  }
}

@layer base {
  html {
    font-size: var(--text-sm);
  }

  @media (max-width: 1023px) {
    html {
      font-size: var(--text-md);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* 暗黑模式变量 */
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  max-width: 100vw;
  /* overflow: hidden; */
}

html {
  color-scheme: light;
}

html[data-theme='dark'] {
  color-scheme: dark;
}

html[data-changing-theme] * {
  transition: none !important;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /* Hide arrows from number input */
  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-spinner {
    -moz-appearance: textfield;
  }
}

@import './components/base/button/index.css';
@import './components/header/tagview/tagview.css';

/* animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-10px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}